In [1]:
import pandas as pd
data = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8, 9]])
converted_series = data.explode()
print("Original Series:")
print(data)
print("\nConverted Series:")
print(converted_series)

Original Series:
0       [1, 2, 3]
1          [4, 5]
2    [6, 7, 8, 9]
dtype: object

Converted Series:
0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
2    9
dtype: object

In [2]:
import pandas as pd
data = pd.Series([10, 20, 30, 40, 50, 60, 70, 80])
condition = data > 30
subset = data[condition]
print("Original Series:")
print(data)
print("\nSubset Series based on condition (values > 30):")
print(subset)

Original Series:
0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

Subset Series based on condition (values > 30):
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [3]:
import pandas as pd
data = pd.Series([1, 2, 3, 3, 4, 4, 4, 5, 5, 5, 5])
most_frequent_value = data.mode()[0]
data[data != most_frequent_value] = "Other"
print("Original Series:")
print(data)

Original Series:
0     Other
1     Other
2     Other
3     Other
4     Other
5     Other
6     Other
7         5
8         5
9         5
10        5
dtype: object

In [4]:
import pandas as pd
data = pd.Series([10, 5, 3, 25, 15, 30, 8, 20, 7, 45])
positions = data[data % 5 == 0].index
print("Original Series:")
print(data)
print("\nPositions of numbers that are multiples of 5:")
print(positions)

Original Series:
0    10
1     5
2     3
3    25
4    15
5    30
6     8
7    20
8     7
9    45
dtype: int64

Positions of numbers that are multiples of 5:
Int64Index([0, 1, 3, 4, 5, 7, 9], dtype='int64')

In [5]:
import pandas as pd
data = pd.Series(['apple', 'banana', 'orange', 'kiwi', 'grape'])
word_lengths = data.apply(lambda x: len(x))
print("Original Series:")
print(data)
print("\nNumber of characters in each word:")
print(word_lengths)

Original Series:
0     apple
1    banana
2    orange
3      kiwi
4     grape
dtype: object

Number of characters in each word:
0    5
1    6
2    6
3    4
4    5
dtype: int64

In [6]:
import pandas as pd
year_month_strings = ['2023-01', '2023-02', '2023-03']
specified_day = 15
dates_with_specified_day = pd.to_datetime(year_month_strings) + pd.to_timedelta(specified_day - 1, unit='D')
print("Year-Month Strings:")
print(year_month_strings)
print("\nDates with Specified Day ({}):".format(specified_day))
print(dates_with_specified_day)

Year-Month Strings:
['2023-01', '2023-02', '2023-03']

Dates with Specified Day (15):
DatetimeIndex(['2023-01-15', '2023-02-15', '2023-03-15'], dtype='datetime64[ns]', freq=None)

In [1]:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 34, 29, 42],
        'City': ['New York', 'Paris', 'Berlin', 'London']}
index_labels = ['Person 1', 'Person 2', 'Person 3', 'Person 4']
df = pd.DataFrame(data, index=index_labels)
print("DataFrame:")
print(df)

DataFrame:
           Name  Age      City
Person 1   John   28  New York
Person 2   Anna   34     Paris
Person 3  Peter   29    Berlin
Person 4  Linda   42    London

In [2]:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Attempts': [3, 1, 4, 2],
        'Score': [70, 85, 90, 80]}
df = pd.DataFrame(data)
selected_rows = df[df['Attempts'] > 2]
print("Rows where the number of attempts is greater than 2:")
print(selected_rows)

Rows where the number of attempts is greater than 2:
    Name  Attempts  Score
0   John         3     70
2  Peter         4     90

In [3]:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Attempts': [3, 1, 4, 2],
        'Score': [70, 85, 90, 80]}
df = pd.DataFrame(data)
new_row_values = {'Name': 'David', 'Attempts': 5, 'Score': 95}
df = df.append(new_row_values, ignore_index=True)
print("DataFrame after appending new row 'k':")
print(df)
df = df.drop(df.index[-1])
print("\nDataFrame after deleting the new row 'k':")
print(df)

DataFrame after appending new row 'k':
    Name  Attempts  Score
0   John         3     70
1   Anna         1     85
2  Peter         4     90
3  Linda         2     80
4  David         5     95

DataFrame after deleting the new row 'k':
    Name  Attempts  Score
0   John         3     70
1   Anna         1     85
2  Peter         4     90
3  Linda         2     80

In [4]:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda', 'David'],
        'Attempts': [3, 1, 4, 2, 5],
        'Score': [70, 85, 90, 80, 95]}
df = pd.DataFrame(data)
sorted_df = df.sort_values(by=['Name', 'Score'], ascending=[False, True])
print("Sorted DataFrame:")
print(sorted_df)

Sorted DataFrame:
    Name  Attempts  Score
2  Peter         4     90
3  Linda         2     80
0   John         3     70
4  David         5     95
1   Anna         1     85

In [5]:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Qualify': ['yes', 'no', 'yes', 'no'],
        'Score': [70, 85, 90, 80]}
df = pd.DataFrame(data)
df['Qualify'] = df['Qualify'].replace({'yes': True, 'no': False})
print("DataFrame after replacing 'yes' and 'no' with True and False:")
print(df)

DataFrame after replacing 'yes' and 'no' with True and False:
    Name  Qualify  Score
0   John     True     70
1   Anna    False     85
2  Peter     True     90
3  Linda    False     80

In [6]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.inf, 4, 5],
        'B': [np.inf, 2, 3, 4, np.inf],
        'C': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)
df = df.replace([np.inf, -np.inf], np.nan).dropna()
print(df)

     A    B  C
1  2.0  2.0  2
3  4.0  4.0  4